<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <h1>User Data</h1>
    <table border="">
      <form action="/add" method="post">
        <tr>
          <td>User Name</td>
          <td><input type="text" name="userName" /></td>
        </tr>
        <tr>
          <td>Email</td>
          <td><input type="email" name="email" /></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><input type="password" name="password" /></td>
        </tr>

        <tr>
          <td></td>
          <td><button>Submit</button></td>
        </tr>
      </form>
    </table>

    <table border="">
      <thead>
        <tr>
          <th>User Name</th>
          <th>Email</th>
          <th>Password</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <% showData.forEach((item)=>{ %>
        <tr>
          <td><%= item.userName %></td>
          <td><%= item.email %></td>
          <td><%= item.password %></td>
          <td>
            <a href="/delete/<%= item.id %>"><button>Delete</button></a>
            <a href="/edit/<%= item.id %>"><button>Edit</button></a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table> 
  </body>
</html>
